@model Business_observatory.Models.Proyecto

@{
    Layout = "~/Views/Shared/BackendLayout.cshtml";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Proyecto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinalizacion" class="control-label"></label>
                <input asp-for="FechaFinalizacion" class="form-control" />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsable" class="control-label"></label>
                <input asp-for="Responsable" class="form-control" />
                <span asp-validation-for="Responsable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa" class="control-label"></label>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AspNetUserId" class="control-label"></label>
                <select asp-for="AspNetUserId" class="form-control" asp-items="ViewBag.AspNetUserId"></select>
            </div>
            <div>
                <label for="categoriaId" class="control-label">Categorias</label>
                <select name="categoriaId" id="city" class="selectpicker" required="">
                    @foreach (var categoria in (SelectList)ViewData["CategoriasId"])
                    {
                        <option value="@categoria.Value">@categoria.Text</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
