@model Business_observatory.Models.Project

@{
    ViewData["Title"] = "Details";
}
<div id="rs-checkout" class="rs-checkout pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">


        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>@Html.DisplayFor(model=>model.Title)</h2>
                    <div class="div-dec"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                @Html.DisplayFor(model => model.Description)
            </div>
            <div>
                @Html.DisplayFor(model => model.RegistrationDate)
            </div>
            @*<div>
            @foreach (var item in Model.ApplicationUser.UserName)
            {
            <div>
            @Html.DisplayFor(modelItem => item)
            </div>
            }
            </div>*@
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="IndexList">Back to List</a>
        </div>
    </div>
</div>

