@model Business_observatory.Models.UserRoles

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label asp-for="applicationUser.UserName"></label>
										<input asp-for="applicationUser.UserName" id="fname" class="form-control-mod" required="">
									</div>
								</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label asp-for="applicationUser.Email"></label>
										<input asp-for="applicationUser.Email" id="lname" class="form-control-mod" required="">
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label asp-for="applicationUser.PhoneNumber">Company name (optional)</label>
										<input asp-for="applicationUser.PhoneNumber" id="cname" class="form-control-mod">
									</div>
								</div>
							</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label asp-for="applicationUser.PasswordHash">Company name (optional)</label>
						<input asp-for="applicationUser.PasswordHash" id="cname" class="form-control-mod">
					</div>
				</div>
			</div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }