@model Business_observatory.Models.ApplicationUser

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div id="rs-checkout" class="rs-checkout pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div hidden class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Id"></label>
                        <input asp-for="Id" id="fname" class="form-control-mod" required="">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" id="fname" class="form-control-mod" required="">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" id="lname" class="form-control-mod" required="">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PhoneNumber">Phone Number</label>
                        <input asp-for="PhoneNumber" id="cname" class="form-control-mod">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label asp-for="PasswordHash">Password</label>
                        <input asp-for="PasswordHash" type="password" id="password" class="form-control-mod">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input type="password" id="confirmPassword" class="form-control-mod">
                    </div>
                </div>
            </div>

            <script>
                document.getElementById('confirmPassword').addEventListener('input', function () {
                    var password = document.getElementById('password').value;
                    var confirmPassword = this.value;

                    if (password !== confirmPassword) {
                        this.setCustomValidity("Passwords do not match");
                    } else {
                        this.setCustomValidity("");
                    }
                });
            </script>
            <div  class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="RoleID">Roles</label>
                        <select name="RoleID" id="city" class="form-control-mod" required="">
                            @foreach (var role in (SelectList)ViewData["RoleId"])
                            {
                                <option value="@role.Value">@role.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }