@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/error.css" />
</head>
<body>
<div id='igniel404'>
    <div id='error-text'>
        <span>404</span>
            <p>¡Lo siento, pero parece que esta página fue abducida por aliens!</p>
            <a class='back'>Volver a la Tierra</a>
@*        <div id='copyright'>
            <a href='https://www.igniel.com' title='Igniel'>Igniel</a> &#169; 2016 - <script>document.write(new Date().getFullYear())</script>. All Rights Reserved
        </div>*@
    </div>
</div>
</body>
</html>