@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img3">
    <div class="container">
        <div class="breadcrumbs-inner breadcrumbs-style1">
            <h1 class="page-title">
                Registro 
            </h1>
            <p class="des"> Con tu cuenta, podrás gestionar de manera fácil y conveniente tu perfil, preferencias y actividades en nuestra plataforma</p>
            <ul class="breadcrumbs-area">
                <li title="Go to Bcom">
                    <a class="active" href="https://www.univalle.edu/">Univalle</a>
                </li>
                <li>Regsitro Exitoso</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
@{
    <div class="container-fluid" style="padding-bottom: 10px; background-color: gray">

    </div>
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

