@model Business_observatory.Models.Contact

@{
    ViewData["Title"] = "Create";
}
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2">
	<div class="container">
		<div class="breadcrumbs-inner breadcrumbs-style1">
			<h1 class="page-title">
				Contact Us 3
			</h1>
			<p class="des"> Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs.</p>
			<ul class="breadcrumbs-area">
				<li title="Go to Bcom">
					<a class="active" href="index.html">Home</a>
				</li>
				<li>Contact Us 3</li>
			</ul>
		</div>
	</div>
</div>
<!-- Breadcrumbs End -->
<!-- Contact Section Start -->
<div class="rs-contact contact-style6 pt-140 md-pt-80">
	<div class="container custom12">
		<div class="row y-middle">
			<div class="col-lg-7 pr-150 md-pr-15 md-mb-50">
				<div class="sec-title mb-30">
					<h2 class="title pb-14">
						Let's Start<br>Something Great!
					</h2>
					<p class="desc desc9">
						Proactively customize cross-media schemas rather than high-payoff the customer service. Uniquely enable extensible niche.
					</p>
				</div>
				<div class="address-boxs mb-30">
					<div class="address-icon">
						<i class="ri-map-pin-fill"></i>
					</div>
					<div class="address-text">
						<div class="text">
							<span class="label">Location</span>
							<span class="des">
								Washington square park, USA
							</span>
						</div>
					</div>
				</div>
				<div class="address-boxs mb-30">
					<div class="address-icon">
						<i class="ri-mail-fill"></i>
					</div>
					<div class="address-text">
						<div class="text">
							<span class="label">E-mail</span>
							<span class="des">
								info@yourdamo.com
							</span>
						</div>
					</div>
				</div>
				<div class="address-boxs">
					<div class="address-icon">
						<i class="fa fa-phone"></i>
					</div>
					<div class="address-text">
						<div class="text">
							<span class="label">Call Us</span>
							<span class="des">
								(00) 123 456 789 00
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="contact-wrap">
					<div class="sec-title mb-35">
						<h3 class="title pb-14 title3 white-color">
							Need Help?
						</h3>
						<p class="desc desc2">
							Proactively fashion world-class leadership vis-a-vis enterprise e-services. Great strong leadership.
						</p>
					</div>
					@*<div id="form-messages"></div>*@
					<form asp-action="Create" id="contact-form">
						<div>
							<div class="row">
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-user-3-line"></i>
										<input asp-for="Name" name="name" class="from-control" type="text" id="name" placeholder="Name" required="required" data-error="Firstname is required.">
									</span>
								</div>
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-mail-send-line"></i>
										<input asp-for="Email" class="from-control" type="text" id="email" name="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
									</span>
								</div>
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-phone-line"></i>
										<input asp-for="Phone" class="from-control" type="tel" id="subject" name="phone" placeholder="Phone" required="required" placeholder="Please enter your phone">
									</span>
								</div>
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-edit-2-line"></i>
										<textarea class="from-control" id="message" name="message" placeholder="Type your messags here" required="required" data-error="Please,leave us a message."></textarea>
									</span>
								</div>
							</div>
							<div class="btn-part">
								<div class="form-group mb-0">
									<input asp-for="Message" class="readon submit submit-green1" type="submit" value="Send Message">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="map-canvas pt-130 md-pt-80">
		<iframe src="https://maps.google.com/maps?q=rstheme&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
	</div>
</div>
<!-- Contact Section End -->
<!-- Cta Start -->
<div class="rs-cta cta-main-home cta-style7 pt-45 pb-45">
	<div class="container custom10">
		<div class="row y-middle">
			<div class="col-lg-7 md-mb-30">
				<div class="sec-title">
					<h3 class="title title13">
						Let's Start Something <span class="primary-color">Great!</span>
					</h3>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="rs-contact-box">
					<div class="address-item">
						<div class="address-icon">
							<i class="fa fa-phone"></i>
						</div>
						<div class="address-text">
							<div class="text">
								<span class="label">Call Us 24/7</span>
								<a href="tel:+(00)123456789">(00) 123 456 789</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="animate-wrap">
			<img src="assets/images/cta/style1/arrow.png" alt="Images">
		</div>
	</div>
</div>
<!-- Cta End -->

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
