@model Business_observatory.Models.Contact

@{
    ViewData["Title"] = "Create";
}
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2">
	<div class="container">
		<div class="breadcrumbs-inner breadcrumbs-style1">
			<h1 class="page-title">
				Contact Us 3
			</h1>
			<p class="des"> Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs.</p>
			<ul class="breadcrumbs-area">
				<li title="Go to Bcom">
					<a class="active" href="index.html">Home</a>
				</li>
				<li>Contact Us 3</li>
			</ul>
		</div>
	</div>
</div>
<!-- Breadcrumbs End -->
<!-- Contact Section Start -->
<div class="rs-contact contact-style6 pt-140 md-pt-80">
	<div class="container custom12">
		<div class="row y-middle">
			<div class="col-lg-7 pr-150 md-pr-15 md-mb-50">
				<div class="sec-title mb-30">
					<h2 class="title pb-14">
						Let's Start<br>Something Great!
					</h2>
					<p class="desc desc9">
						Proactively customize cross-media schemas rather than high-payoff the customer service. Uniquely enable extensible niche.
					</p>
				</div>
				<div class="address-boxs mb-30">
					<div class="address-icon">
						<i class="ri-map-pin-fill"></i>
					</div>
					<div class="address-text">
						<div class="text">
							<span class="label">Location</span>
							<span class="des">
								Washington square park, USA
							</span>
						</div>
					</div>
				</div>
				<div class="address-boxs mb-30">
					<div class="address-icon">
						<i class="ri-mail-fill"></i>
					</div>
					<div class="address-text">
						<div class="text">
							<span class="label">E-mail</span>
							<span class="des">
								info@yourdamo.com
							</span>
						</div>
					</div>
				</div>
				<div class="address-boxs">
					<div class="address-icon">
						<i class="fa fa-phone"></i>
					</div>
					<div class="address-text">
						<div class="text">
							<span class="label">Call Us</span>
							<span class="des">
								(00) 123 456 789 00
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="contact-wrap">
					<div class="sec-title mb-35">
						<h3 class="title pb-14 title3 white-color">
							Need Help?
						</h3>
						<p class="desc desc2">
							Proactively fashion world-class leadership vis-a-vis enterprise e-services. Great strong leadership.
						</p>
					</div>
					<div id="form-messages"></div>
					<form id="contact-form" method="post" action="mailer.php">
						<fieldset>
							<div class="row">
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-user-3-line"></i>
										<input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
									</span>
								</div>
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-mail-send-line"></i>
										<input class="from-control" type="text" id="email" name="email" placeholder="E-mail" required="">
									</span>
								</div>
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-price-tag-3-line"></i>
										<input class="from-control" type="text" id="subject" name="subject" placeholder="Subject" required="">
									</span>
								</div>
								<div class="col-lg-12 mb-15">
									<span class="wpcf7-form-control-wrap">
										<i class="ri-edit-2-line"></i>
										<textarea class="from-control" id="message" name="message" placeholder="Type your messags here" required=""></textarea>
									</span>
								</div>
							</div>
							<div class="btn-part">
								<div class="form-group mb-0">
									<input class="readon submit submit-green1" type="submit" value="Send Inquiry">
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="map-canvas pt-130 md-pt-80">
		<iframe src="https://maps.google.com/maps?q=rstheme&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
	</div>
</div>
<!-- Contact Section End -->
<!-- Cta Start -->
<div class="rs-cta cta-main-home cta-style7 pt-45 pb-45">
	<div class="container custom10">
		<div class="row y-middle">
			<div class="col-lg-7 md-mb-30">
				<div class="sec-title">
					<h3 class="title title13">
						Let's Start Something <span class="primary-color">Great!</span>
					</h3>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="rs-contact-box">
					<div class="address-item">
						<div class="address-icon">
							<i class="fa fa-phone"></i>
						</div>
						<div class="address-text">
							<div class="text">
								<span class="label">Call Us 24/7</span>
								<a href="tel:+(00)123456789">(00) 123 456 789</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="animate-wrap">
			<img src="assets/images/cta/style1/arrow.png" alt="Images">
		</div>
	</div>
</div>
<!-- Cta End -->
<div class="page-heading page__heading__img">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h2>Solicitudes</h2>
                    <div class="div-dec"></div>
                    <div class="div"><p class="div__p">Gracias por su interés en nuestro observatorio empresarial. Estamos comprometidos en proporcionar información precisa y relevante para ayudar a las empresas a tomar decisiones informadas y estratégicas.<br />Si tiene alguna pregunta, comentario o sugerencia, no dude en ponerse en contacto con nosotros utilizando el formulario que se encuentra a continuación. </p></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-6 mx-auto p-5 form__text">
        <form asp-action="Create">
            <div class="controls">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name">Firstname *</label>
                            <input asp-for="Name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required" data-error="Firstname is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Surname">Lastname *</label>
                            <input asp-for="Surname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email">Email *</label>
                            <input asp-for="Email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Phone" for="form_phone">Phone</label>
                            <input asp-for="Phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="form_message">Message *</label>
                            <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-12 p-2">
                        <input asp-for="Message" type="submit" class="btn btn-success btn-send" value="Send message">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted"><strong>*</strong> These fields are required. </p>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="container">
    <p>Coordinadora</p>
    <p>Dr. Juan Carlos Sánchez</p>
    <p>Correo: jaun@gmail.com</p>
    <p>Teléfono: 123456789</p>
    <p>Horario de atención: 8:00 a 12:00 y 2:00 a 6:00</p>
    <p>Ubicación: Edificio 1, piso 2, oficina 2.1.1</p>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
