@{
    ViewBag.Title = "Administracion";
	Layout = "~/Views/Shared/FrontendLayout.cshtml";
}
<!--Full width header Start-->
    <div class="full-width-header">
    </div>
    <!--Full width header End-->
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs img3">
        <div class="container">
            <div class="breadcrumbs-inner breadcrumbs-style1">
                <h1 class="page-title">
                Administracion
                </h1>
                <p class="des">Aqui ves y recibes mas informacion de lo que nosotros hacemos con Nuestro Observatorio Empresarial</p>
                <ul class="breadcrumbs-area">
                    <li title="Go to Bcom">
                        <a class="active" href="https://www.univalle.edu/">Univalle</a>
                    </li>
                    <li>Administracion</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->