@{
    ViewBag.Title = "CrearCuenta";
	Layout = "~/Views/Shared/FrontendLayout.cshtml";
}

 <!--Full width header Start-->
    <div class="full-width-header">
    </div>
    <!--Full width header End-->
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs img3">
        <div class="container">
            <div class="breadcrumbs-inner breadcrumbs-style1">
                <h1 class="page-title">
                    Cuenta 
                </h1>
                <p class="des">Puedes Logueate y Ver mas sobre nostros</p>
                <ul class="breadcrumbs-area">
                    <li title="Go to Bcom">
                        <a class="active" href="https://www.univalle.edu/">Univalle</a>
                    </li>
                    <li>Nosotros</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->
    
    <!-- Faq Start -->
		<div class="rs-faq faq-style1 faq-modify5 pt-130 pb-130 md-pt-80 md-pb-80">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-7">
						<div class="content-wrap">
							<div class="sec-title mb-40">
								<span class="sub-text sub-text2">Ayuda</span>
								<h2 class="title pb-25">
										Nosotros creamos algo para tu futuro								
								</h2>
								<p class="desc">
									El Observatorio Empresarial es un centro especializado en la vigilancia y análisis de tendencias y cambios en el mundo de los negocios. Proporcionamos información actualizada y asesoramiento estratégico a las empresas para tomar decisiones informadas en un entorno empresarial dinámico.
								</p>
							</div>
							<div class="faq-content">
								<div id="accordion" class="accordion">
									<div class="card">
										<div class="card-header">
											<a class="card-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">Que es le Observatorio Empresarial?</a>
										</div>
										<div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
											<div class="card-body">
												El Observatorio Empresarial es un centro especializado en la vigilancia y análisis de tendencias y cambios en el mundo de los negocios. Proporcionamos información actualizada y asesoramiento estratégico a las empresas para tomar decisiones informadas en un entorno empresarial dinámico.
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="faq-button faq-btn1 mt-45">
								necesitas ayuda?
								<a href="https://localhost:7005/Home/Contactenos">Contactenos<i class="ri-arrow-right-up-line"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<!-- Contact Section End -->
						<div class="rs-contact contact-style8">
							<div class="contact-wrap">
								<div class="sec-title mb-30">
									<h2 class="title white-color">
										Crear Cuenta
									</h2>
								</div>
								<div id="form-messages"></div>
								<form id="contact-form" method="post" action="mailer.php">
									<fieldset>
										<div class="row">
											<div class="col-sm-12 mb-20">
												<input class="from-control" type="text" id="name" name="name" placeholder="Nombre" required="">
											</div>
											<div class="col-sm-12 mb-20">
												<input class="from-control" type="text" id="password" name="password" placeholder="Contraseña" required="">
											</div>
											<div class="col-sm-12 mb-20">
												<input class="from-control" type="text" id="password" name="password" placeholder="Confirmar Contraseña" required="">
											</div>
										</div>
										<div class="btn-part">
											<div class="form-group mb-0">
												<input class="readon submit submit-purple2" type="submit" value="Registrarse ">
											</div>
										</div>
									</fieldset>
								</form>
							</div>
						</div>
						<!-- Contact Section End -->
					</div>
				</div>
			</div>
		</div>
	<!-- Faq End -->

    
    
    
    
    