@model IEnumerable<Business_observatory.Models.Project>
@{
	ViewData["Title"] = "Projects";
	int counter = 0;
	var image = TempData["data"];
	var image1 = TempData["data1"];
	var image2 = TempData["data2"];
    var image3 = TempData["data3"];
    var image4 = TempData["data4"];
	TempData.Keep();
}
<!-- Banner Start -->
<div class="rs-banner banner-style2" style="background-image: ~/Files/IMG/@image">
	<div class="container">
		<div class="row y-middle">
			<div class="col-lg-5">
				<div class="bnr-images">
					<img class="wow fadeInUp" src="~/Files/IMG/@image" alt="Images">
				</div>
				@if (ViewBag.Message != null)
				{
					<div class="alert alert-success alert-dismissible" style="margin-top:20px">
						@ViewBag.Message
					</div>
				}
				<form method="post" enctype="multipart/form-data">
					<input type="file" name="files" multiple required style="color: gray" />
					<button type="submit" class="btn btn-dark" asp-controller="Home" asp-action="UploadToFileSystem">Upload to File System</button>
				</form>
			</div>
			<div class="col-lg-7">
				<div class="content-wrap">
					<span class="sub-title wow fadeInDown">We are the best</span>
					<h1 class="title wow fadeInRight pb-25">Expert marketing consulting grow your business</h1>
					<div class="description wow fadeInRight2">
						<p>
							Laor eet non curabitur gravida arcu ac tortor dignissim convallis. Nunc mattis enim ut tellus elementum sagittis vitae et leo morbi
						</p>
					</div>
					<ul class="bnr-btn wow fadeInUp">
						@*<li>
							<a class="readon consultant get-orange" href="contact-us-1.html">Get Free Consultant</a>
						</li>*@
						<li>
							<div class="rs-videos mt--5">
								<div class="animate-border animate-style1">
									<a class="popup-border popup-videos readon consultant get-orange" href="https://www.youtube.com/watch?v=FMvA5fyZ338">
										<i class="fa fa-play"></i>
										<span class="btn-text">Watch Demo</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->
<!-- Partner Start -->
<div class="rs-partner partner-main-home partner-modify1 gray-bg4 pt-75 pb-70">
	<div class="container">
		<div class="sec-title text-center mb-50 md-mb-35">
			<h6 class="title title7">
				Bcom is partnered with  30k+ fastest growing companies
			</h6>
		</div>
		<div class="slider partner-slide-1">
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://rstheme.com">
						<img class="hovers-logos rs-grid-img" src="assets/images/partner/style2/ptnr-1.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="assets/images/partner/style2/ptnr-1.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://rstheme.com">
						<img class="hovers-logos rs-grid-img" src="assets/images/partner/style2/ptnr-2.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="assets/images/partner/style2/ptnr-2.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://rstheme.com">
						<img class="hovers-logos rs-grid-img" src="assets/images/partner/style2/ptnr-3.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="assets/images/partner/style2/ptnr-3.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://rstheme.com">
						<img class="hovers-logos rs-grid-img" src="assets/images/partner/style2/ptnr-4.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="assets/images/partner/style2/ptnr-4.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://rstheme.com">
						<img class="hovers-logos rs-grid-img" src="assets/images/partner/style2/ptnr-5.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="assets/images/partner/style2/ptnr-5.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://rstheme.com">
						<img class="hovers-logos rs-grid-img" src="assets/images/partner/style2/ptnr-6.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="assets/images/partner/style2/ptnr-6.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://rstheme.com">
						<img class="hovers-logos rs-grid-img" src="assets/images/partner/style2/ptnr-7.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="assets/images/partner/style2/ptnr-7.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://rstheme.com">
						<img class="hovers-logos rs-grid-img" src="assets/images/partner/style2/ptnr-8.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="assets/images/partner/style2/ptnr-8.png" title="" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Partner End -->
@*<!-- Feature Start -->
<div class="rs-feature feature-style1 feature-modify1 pt-140 pb-140 md-pt-75 md-pb-80">
	<div class="container">
		<div class="row y-middle">
			<div class="col-lg-6 md-mb-35">
				<div class="feature-wrap">
					<div class="sec-title">
						<span class="sub-text">What it does</span>
						<h2 class="title pb-27">
							We provide useful<br>features
						</h2>
						<p class="desc">
							Males uada bibe ndum arcu vitae elementum. eget duis at tellus at urna condimentum. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc ringilla urna porttitor rhoncus ut tellus elementum.
						</p>
						<ul class="check-lists check-list2 mt-22">
							<li class="list-item">
								<span class="icon-list-icon">
									<i class="ri-checkbox-circle-line"></i>
								</span>
								<span class="list-text">Track your daily activity.</span>
							</li>
							<li class="list-item">
								<span class="icon-list-icon">
									<i class="ri-checkbox-circle-line"></i>
								</span>
								<span class="list-text">Multiply global marketing strategy</span>
							</li>
							<li class="list-item">
								<span class="icon-list-icon">
									<i class="ri-checkbox-circle-line"></i>
								</span>
								<span class="list-text">Vertual support team</span>
							</li>
						</ul>
						<ul class="feature-btn mt-32">
							<li>
								<a class="readon consultant get-orange small-normal" href="about-us.html">Get Free Consultant</a>
							</li>
							<li>
								<a class="readon consultant phone-number orange-phn" href="about-us.html">
									<span class="btn-icon">
										<i class="fa fa-phone"></i>
									</span>
									<span class="btn-text">(00) 123 456 789</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="images-wrap">
					<img src="assets/images/feature/style4/img-1.png" alt="Images">
					<div class="feature-counter count-box1 veritcal3">
						<div class="feature-counter-list">
							<div class="count-text">
								<div class="count-number">
									<span class="rs-count">3</span>
									<span class="prefix">M</span>
									<span class="prefix">+</span>
								</div>
								<span class="title">Business Using Stripe</span>
							</div>
						</div>
					</div>
					<div class="feature-shape one">
						<img class="wow fadeInUp" src="assets/images/feature/style4/shape1.png" alt="Images">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Feature End -->*@
@*<!-- Services Start -->
<div class="rs-services services-style1 bg31">
	<div class="container custom4">
		<div class="services-provides-wrap pt-125 pb-130 md-pt-75 md-pb-80">
			<div class="sec-title text-center mb-40">
				<span class="sub-text">What it provides</span>
				<h2 class="title">
					business shaped<br>
					solutions
				</h2>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-md-6 mb-20">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-1.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="business-services.html">Digital Marketing</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 mb-20">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-2.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="consumer-product.html">Product Promotion</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 mb-20">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-3.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="financial-services.html">Financial Services</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 mb-20">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-4.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="quality-resourcing.html">Quality Resourcing</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 xl-mb-30">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-5.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="investment-advisory.html">Investment Advisory</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 xl-mb-30">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-6.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="financial-advisory.html">Financial Advisory</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 sm-mb-30">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-7.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="advanced-analytic.html">Advabced Analytic</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-8.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="business-services.html">24/7 Rapid Support</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>*@
<!-- Services End -->

<!-- Swiper Project Section Start -->
<div class="rs-project project-style3 pt-70 pb-140 md-pt-14 md-pb-80" style="background-color: #f6f4ff">
	<div class="container">
		<div class="sec-title pro-sec">
			<span class="sub-text">our projects</span>
			<h2 class="title">
				Our Works
			</h2>
		</div>
		<div class="swiper project-slide2">
			<div class="swiper-wrapper">
				<div class="project-item swiper-slide">
					<div class="project-img">
						<a href="portfolio-single.html"><img src="~/Files/IMG1/@image1" alt="Images"></a>
					</div>
					<div class="project-content">
						<span class="category"><a href="portfolio-single.html">Digital Marketing</a></span>
						<h5 class="title"><a href="portfolio-single.html">Alex Brand Promotion</a></h5>
					</div>
				</div>
				
				<div class="project-item swiper-slide">
					<div class="project-img">
						<a href="portfolio-single.html"><img src="~/Files/IMG2/@image2" alt="Images"></a>
					</div>
					<div class="project-content">
						<span class="category"><a href="portfolio-single.html">Product Promotion</a></span>
						<h5 class="title"><a href="portfolio-single.html">Marketing Plan</a></h5>
					</div>
				</div>
				
				<div class="project-item swiper-slide">
					<div class="project-img">
						<a href="portfolio-single.html"><img src="~/Files/IMG3/@image3" alt="Images"></a>
					</div>
					<div class="project-content">
						<span class="category"><a href="portfolio-single.html">Financial Advisory</a></span>
						<h5 class="title"><a href="portfolio-single.html">Investment Plan</a></h5>
					</div>
				</div>
				
				<div class="project-item swiper-slide">
					<div class="project-img">
						<a href="portfolio-single.html"><img src="~/Files/IMG4/@image4" alt="Images"></a>
					</div>
					<div class="project-content">
						<span class="category"><a href="portfolio-single.html">Digital Marketing</a></span>
						<h5 class="title"><a href="portfolio-single.html">Alex Brand Promotion</a></h5>
					</div>
				</div>
				
			</div>
			<div class="swiper-scrollbar"></div>
			<div class="swiper-navigation">
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

		</div>
	</div>
</div>
<!-- Swiper Project Section End -->
@*<!-- Skillbar Start -->
<div class="rs-skillbar skillbar-style1 bg32 pt-130 pb-130 md-pt-80 md-pb-60">
	<div class="container">
		<div class="row y-middle">
			<div class="col-lg-6 md-mb-50">
				<div class="skillbar-wrap">
					<img src="assets/images/skillbar/style1/img1.png" alt="Images">
					<div class="shape-img">
						<img class="wow horizontal2" src="assets/images/skillbar/style1/shape1.png" alt="Images">
					</div>
					<div class="skillbar-counter count-box1 veritcal3">
						<div class="skillbar-counter-list">
							<div class="count-text">
								<div class="count-number">
									<span class="rs-count">95</span>
									<span class="prefix">%</span>
								</div>
								<span class="title">Business Growth</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="sec-title">
					<span class="sub-text">your path to success capital</span>
					<h2 class="title pb-26">
						We know how to develop business marketing globally
					</h2>
					<p class="desc pb-30">
						Malesuada bibendum arcu vitae elementum. Semper eget duis at tellus at urna condimentum. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc sed. Fringilla urna porttitor rhoncus dolor purus non enim.
					</p>
				</div>
				<!-- Skillbar Section Start -->
				<div class="cl-skill-bar">
					<span class="skillbar-title">Design & Development</span>
					<!-- Start Skill Bar -->
					<div class="skillbar" data-percent="90">
						<p class="skillbar-bar"></p>
						<span class="skill-bar-percent">90%</span>
					</div>
				</div>
				<!-- Skillbar Section End -->
				<div class="cl-skill-bar">
					<span class="skillbar-title">Digital Marketing</span>
					<!-- Start Skill Bar -->
					<div class="skillbar" data-percent="80">
						<p class="skillbar-bar"></p>
						<span class="skill-bar-percent">80%</span>
					</div>
				</div>
				<!-- Skillbar Section End -->
				<div class="cl-skill-bar">
					<span class="skillbar-title">Product Promotion</span>
					<!-- Start Skill Bar -->
					<div class="skillbar" data-percent="94">
						<p class="skillbar-bar"></p>
						<span class="skill-bar-percent">94%</span>
					</div>
				</div>
				<!-- Skillbar Section End -->
			</div>
		</div>
	</div>
</div>
<!-- Skillbar End -->*@
@*<!-- Testimonial Section End -->
<div class="rs-testimonial testimonial-style1 bg33 pt-135 pb-110 md-pt-75 md-pb-80">
	<div class="container">
		<div class="sec-title text-center mb-50 md-mb-35">
			<span class="sub-text">Testimonial</span>
			<h2 class="title white-color">
				What’s Clients says<br>
				about Us
			</h2>
		</div>
		<div class="slider testi-slide-1">
			<div class="testi-item">
				<div class="testi-images">
					<div class="image-wrap">
						<img src="assets/images/testimonial/style3/testi-1.png" alt="Images">
					</div>
				</div>				
				<div class="testi-wrap">
					<div class="testi-content">
						<div class="rattings">
							<img src="~/Files/IMG1/@image1" alt="Images">
						</div>
						<p class="desc">It’s incredible. it’s really wonderful. bcom has completely surpassed our expect. Urna porttitor rhoncus dolor purus non enim praesent at the facilisis lectus. Adipiscing tristique risus feugiat fermentum.</p>
						<div class="testi-information">
							<div class="testi-name">Brooklyn Simmons</div>
							<span class="testi-title">CEO, Bribbble LLC</span>
						</div>
					</div>
				</div>
			</div>
			<div class="testi-item">
				<div class="testi-images">
					<div class="image-wrap">
						<img src="assets/images/testimonial/style3/testi-2.png" alt="Images">
					</div>
				</div>
				<div class="testi-wrap">
					<div class="testi-content">
						<div class="rattings">
							<img src="~/Files/IMG2/@image2" alt="Images">
						</div>
						<p class="desc">It’s incredible. it’s really wonderful. bcom has completely surpassed our expect. Urna porttitor rhoncus dolor purus non enim praesent at the facilisis lectus. Adipiscing tristique risus feugiat fermentum.</p>
						<div class="testi-information">
							<div class="testi-name">Micheal Holding</div>
							<span class="testi-title">Personal Counseling</span>
						</div>
					</div>
				</div>
			</div>
			<div class="testi-item">
				<div class="testi-images">
					<div class="image-wrap">
						<img src="assets/images/testimonial/style3/testi-3.png" alt="Images">
					</div>
				</div>
				<div class="testi-wrap">
					<div class="testi-content">
						<div class="rattings">
							<img src="~/Files/IMG3/@image3" alt="Images">
						</div>
						<p class="desc">It’s incredible. it’s really wonderful. bcom has completely surpassed our expect. Urna porttitor rhoncus dolor purus non enim praesent at the facilisis lectus. Adipiscing tristique risus feugiat fermentum.</p>
						<div class="testi-information">
							<div class="testi-name">Brooklyn Simmons</div>
							<span class="testi-title">CEO, Bribbble LLC</span>
						</div>
					</div>
				</div>
			</div>
			<div class="testi-item">
				<div class="testi-images">
					<div class="image-wrap">
						<img src="assets/images/testimonial/style3/testi-1.png" alt="Images">
					</div>
				</div>
				<div class="testi-wrap">
					<div class="testi-content">
						<div class="rattings">
							<img src="~/Files/IMG4/@image4" alt="Images">
						</div>
						<p class="desc">It’s incredible. it’s really wonderful. bcom has completely surpassed our expect. Urna porttitor rhoncus dolor purus non enim praesent at the facilisis lectus. Adipiscing tristique risus feugiat fermentum.</p>
						<div class="testi-information">
							<div class="testi-name">Brooklyn Simmons</div>
							<span class="testi-title">CEO, Bribbble LLC</span>
						</div>
					</div>
				</div>
			</div>
			@if (ViewBag.Message != null)
			{
				<div class="alert alert-success alert-dismissible" style="margin-top:20px">
					@ViewBag.Message
				</div>
			}
			<form method="post" enctype="multipart/form-data">
				<input type="file" name="files1" multiple required style="color: gray" />
				<input type="file" name="files2" multiple required style="color: gray" />
				<input type="file" name="files3" multiple required style="color: gray" />
				<input type="file" name="files4" multiple required style="color: gray" />
				<button type="submit" class="btn btn-dark" asp-controller="Home" asp-action="UploadToFileSystem2">Upload to File System</button>
			</form>
		</div>
	</div>*@
	<!-- Partner Start -->
	@*<div class="rs-partner partner-style4 pt-80 md-pt-40">
		<div class="container">
			<div class="slider partner-slide-1">
				<div class="partner-item">
					<div class="logo-img">
						<a href="https://rstheme.com">
							<img class="dance-pop" src="assets/images/partner/style5/ptnr-1.png" title="" alt="">
						</a>
					</div>
				</div>
				<div class="partner-item">
					<div class="logo-img">
						<a href="https://rstheme.com">
							<img class="dance-pop" src="assets/images/partner/style5/ptnr-2.png" title="" alt="">
						</a>
					</div>
				</div>
				<div class="partner-item">
					<div class="logo-img">
						<a href="https://rstheme.com">
							<img class="dance-pop" src="assets/images/partner/style5/ptnr-3.png" title="" alt="">
						</a>
					</div>
				</div>
				<div class="partner-item">
					<div class="logo-img">
						<a href="https://rstheme.com">
							<img class="dance-pop" src="assets/images/partner/style5/ptnr-4.png" title="" alt="">
						</a>
					</div>
				</div>
				<div class="partner-item">
					<div class="logo-img">
						<a href="https://rstheme.com">
							<img class="dance-pop" src="assets/images/partner/style5/ptnr-5.png" title="" alt="">
						</a>
					</div>
				</div>
				<div class="partner-item">
					<div class="logo-img">
						<a href="https://rstheme.com">
							<img class="dance-pop" src="assets/images/partner/style5/ptnr-6.png" title="" alt="">
						</a>
					</div>
				</div>
				<div class="partner-item">
					<div class="logo-img">
						<a href="https://rstheme.com">
							<img class="dance-pop" src="assets/images/partner/style5/ptnr-7.png" title="" alt="">
						</a>
					</div>
				</div>
				<div class="partner-item">
					<div class="logo-img">
						<a href="https://rstheme.com">
							<img class="dance-pop" src="assets/images/partner/style5/ptnr-8.png" title="" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Partner End -->
</div>*@
<!-- Testimonial Section End -->

<!-- Process Section Start -->
<div class="rs-process process-style1 pt-125 pb-130 md-pt-75 md-pb-80">
	<div class="container">
		<div class="sec-title text-center mb-50">
			<span class="sub-text">Work process</span>
			<h2 class="title">
				How we works
			</h2>
		</div>
		<div class="process-bg-wrap">
			<div class="row">
				<div class="col-lg-4 md-mb-40">
					<div class="process-item">
						<div class="icon-image">
							<img src="assets/images/process/style1/icon-1.png" alt="Images">
						</div>
						<div class="content-txt">
							<h4 class="title">Business Strategy</h4>
							<p class="desc">Vestibulum lectus mauris ultrices eros in. Cursus sit amet dictum sit amet. Adipiscing tristique risus nec feugiat</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 md-mb-40">
					<div class="process-item">
						<div class="icon-image">
							<img src="assets/images/process/style1/icon-2.png" alt="Images">
						</div>
						<div class="content-txt">
							<h4 class="title">Idea Validation</h4>
							<p class="desc">Vestibulum lectus mauris ultrices eros in. Cursus sit amet dictum sit amet. Adipiscing tristique risus nec feugiat </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="process-item">
						<div class="icon-image">
							<img src="assets/images/process/style1/icon-3.png" alt="Images">
						</div>
						<div class="content-txt">
							<h4 class="title">Implementation</h4>
							<p class="desc">Vestibulum lectus mauris ultrices eros in. Cursus sit amet dictum sit amet. Adipiscing tristique risus nec feugiat </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Process Section End -->

<div class="rs-services services-style8 services-modify7 gray-bg6 pt-135 pb-140 md-pt-75 md-pb-80">
	<div class="container">
		<div class="sec-title text-center mb-60">
			<h2 class="title title12 two-blue-subnormal main-subnormal">
				<span class="watermark">Our awesome projects</span>
			</h2>
		</div>
		<div class="row">
			@foreach (var item in Model.Reverse())
			{
				<div class="col-lg-4 col-md-6 mb-55">
					<div class="services-item">
						<div class="services-wrap" style="height:25rem;">
							<div class="numbering">
								@{
									counter++;
								}
								@counter
							</div>
							<div class="services-icon">
								<img src="assets/images/services/main-home/blue/ser-1.png" alt="">
							</div>
							<div class="services-content">
								<h6 class="title"><a href="business-services.html">@Html.DisplayFor(modelItem=>item.Title)</a></h6>
								<p class="services-txt">
									@{
										string descripcion = item.Description;
										int longitudTotal = descripcion.Length;
										int longitudVeintePorciento = (int)(longitudTotal * 0.2);
										int ultimoEspacio = descripcion.LastIndexOf(" ", longitudVeintePorciento);

										// Si no se encuentra ningún espacio en blanco, se utiliza la longitud original.
										if (ultimoEspacio < 0)
										{
											ultimoEspacio = longitudVeintePorciento;
										}

										string primerosCaracteres = descripcion.Substring(0, ultimoEspacio);
									}
									@primerosCaracteres...
								</p>
								<div class="services-button ser-btn3">
									<a href="business-services.html">
										<span class="btn-txt">Read More</span>
										<i class="ri-arrow-right-line"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
@*<!-- Blog Section Start -->
<div class="rs-blog blog-style1 bg34 pt-125 pb-130 md-pb-80 md-pt-75 md-pb-80">
	<div class="container">
		<div class="row y-middle">
			<div class="col-lg-6">
				<div class="sec-title mb-50">
					<span class="sub-text">blog & news</span>
					<h2 class="title">
						Our Least Blog
					</h2>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="blog-button mt--30 md-mb-50 blog-btn3 text-right md-left">
					<a href="blog-details.html">
						<span class="btn-txt">View all post</span>
						<i class="ri-arrow-right-line"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 md-mb-30">
				<div class="blog-item">
					<div class="image-wrap">
						<a href="blog-single.html"><img src="assets/images/blog/style2/bl1.jpg" alt=""></a>
					</div>
					<div class="blog-content">
						<ul class="blog-meta">
							<li class="categories"><i class="ri-calendar-line"></i>March 20,2023</li>
							<li class="admin"><i class="ri-user-line"></i><a href="blog-single.html">Bcom</a></li>
						</ul>
						<h5 class="blog-title"><a href="blog-single.html">Earn good money and make you very successful creative</a></h5>
						<div class="blog-button">
							<a href="blog-single.html">
								<span class="btn-txt">Read More</span>
								<i class="ri-arrow-right-line"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="blog-horizontal">
					<div class="blog-meta mb-30">
						<div class="blog-item-wrap">
							<div class="image-wrap">
								<a href="blog-single.html"><img src="assets/images/blog/style2/bl2.jpg" alt=""></a>
							</div>
							<div class="blog-content">
								<ul class="blog-meta">
									<li class="categories"><i class="ri-calendar-line"></i>March 20,2023</li>
									<li class="admin"><i class="ri-user-line"></i><a href="blog-single.html">Bcom</a></li>
								</ul>
								<h5 class="blog-title"><a href="blog-single.html">Do it right is the ultimate winning strategy for consultant</a></h5>
								<p class="blog-desc">
									Vestibulum lectus mauris ultrices eros in. Cursus sit amet dictum sit amet.
								</p>
								<div class="blog-button">
									<a href="blog-single.html">
										<span class="btn-txt">Read More</span>
										<i class="ri-arrow-right-line"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="blog-meta">
						<div class="blog-item-wrap">
							<div class="image-wrap">
								<a href="blog-single.html"><img src="assets/images/blog/style2/bl3.jpg" alt=""></a>
							</div>
							<div class="blog-content">
								<ul class="blog-meta">
									<li class="categories"><i class="ri-calendar-line"></i>March 20,2023</li>
									<li class="admin"><i class="ri-user-line"></i><a href="blog-single.html">Bcom</a></li>
								</ul>
								<h5 class="blog-title"><a href="blog-single.html">Ultrices dui sapien eget mi. Enim nulla aliquet porttitor lacus</a></h5>
								<p class="blog-desc">
									Vestibulum lectus mauris ultrices eros in. Cursus sit amet dictum sit amet.
								</p>
								<div class="blog-button">
									<a href="blog-single.html">
										<span class="btn-txt">Read More</span>
										<i class="ri-arrow-right-line"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog Section End -->*@
<!-- Contact Section End -->
<div class="rs-contact contact-style2 pt-130 pb-130 bg35 md-pt-80 md-pb-80">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-7">
				<div class="touch-wrap">
					<div class="sec-title sec-modify1 mb-40">
						<span class="sub-text">Get in touch</span>
						<h2 class="title pb-25">
							Get free marketing consultation today
						</h2>
						<p class="desc desc2">
							Vestibulum lectus mauris ultrices eros in. Cursus sit amet dictum sit amet. Adipiscing tristique risus nec feugiat
						</p>
					</div>
					<ul class="contact-button">
						<li>
							<a class="readon contact-icon" href="#">
								<span class="btn-txt">Contact Us</span>
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
						<li>
							<a class="readon consultant phone-number orange-light" href="contact-us-1.html">
								<span class="btn-icon">
									<i class="fa fa-phone"></i>
								</span>
								<span class="btn-text">(00) 123 456 789</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="contact-wrap">
					<div class="sec-title mb-30">
						<h5 class="title title2 white-color">
							Get in touch
						</h5>
					</div>
					<div id="form-messages"></div>
					<form id="contact-form" method="post" action="mailer.php">
						<fieldset>
							<div class="row">
								<div class="col-sm-12 mb-20">
									<input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
								</div>
								<div class="col-sm-12 mb-20">
									<input class="from-control" type="text" id="email" name="email" placeholder="Email" required="">
								</div>
								<div class="col-sm-12 mb-20">
									<textarea class="from-control" id="message" name="message" placeholder="Write Your Message Here" required=""></textarea>
								</div>
							</div>
							<div class="btn-part">
								<div class="form-group mb-0">
									<input class="readon submit submit-orange2" type="submit" value="Submit Now">
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact Section End -->
