@model IEnumerable<Business_observatory.Models.Project>
@{
	ViewData["Title"] = "Projects";
	int counter = 0;
	var image = TempData["data"];
	var image1 = TempData["data1"];
	var image2 = TempData["data2"];
    var image3 = TempData["data3"];
    var image4 = TempData["data4"];
	TempData.Keep();
}
<!-- Banner Start -->
<div class="rs-banner banner-style2" style="background-image: ~/Files/IMG/@image">
	<div class="container">
		<div class="row y-middle">
			<div class="col-lg-5">
				<div class="bnr-images">
					<img class="wow fadeInUp" src="~/Files/IMG/@image" alt="Images">
				</div>
				@if (ViewBag.Message != null)
				{
					<div class="alert alert-success alert-dismissible" style="margin-top:20px">
						@ViewBag.Message
					</div>
				}
				<form method="post" enctype="multipart/form-data">
					<input type="file" name="files" multiple required style="color: gray" />
					<button type="submit" class="btn btn-dark" asp-controller="Home" asp-action="UploadToFileSystem">Subir al sistema de archivos</button>
				</form>
			</div>
			<div class="col-lg-7">
				<div class="content-wrap">
					<span class="sub-title wow fadeInDown">Somos el mejor</span>
					<h1 class="title wow fadeInRight pb-25">Observatorio Empresarial: Mirando hacia el futuro desde el Observatorio Empresarial</h1>
					<div class="description wow fadeInRight2">
						<p>
							Binevenido al Observatorio Empresarial, tu fuente confiable de información y análisis en el mundo de los negocios. Nos enorgullece presentarte un espacio dedicado a la observación, estudio y comprensión de las tendencias y dinámicas empresariales.
						</p>
					</div>
					<ul class="bnr-btn wow fadeInUp">
						@*<li>
							<a class="readon consultant get-orange" href="contact-us-1.html">Get Free Consultant</a>
						</li>*@
						<li>
							<div class="rs-videos mt--5">
								<div class="animate-border animate-style1">
									<a class="popup-border popup-videos readon consultant get-orange" href="https://www.youtube.com/watch?v=3J1O-vOa71s">
										<i class="fa fa-play"></i>
										<span class="btn-text">Ver Video</span>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner End -->
<!-- Partner Start -->
<div class="rs-partner partner-main-home partner-modify1 gray-bg4 pt-75 pb-70">
	<div class="container">
		<div class="sec-title text-center mb-50 md-mb-35">
			<h6 class="title title7">
				Asociado con varias empresas en crecimiento
			</h6>
		</div>
		<div class="slider partner-slide-1">
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://www.univalle.edu/">
						<img class="hovers-logos rs-grid-img" src="~/Images/UnivalleLOGO.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="~/Images/UnivalleLOGO.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://www.univalle.edu/">
						<img class="hovers-logos rs-grid-img" src="~/Images/UnivalleLOGO.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="~/Images/UnivalleLOGO.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://www.univalle.edu/">
						<img class="hovers-logos rs-grid-img" src="~/Images/UnivalleLOGO.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="~/Images/UnivalleLOGO.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://www.univalle.edu/">
						<img class="hovers-logos rs-grid-img" src="~/Images/UnivalleLOGO.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="~/Images/UnivalleLOGO.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://www.univalle.edu/">
						<img class="hovers-logos rs-grid-img" src="~/Images/UnivalleLOGO.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="~/Images/UnivalleLOGO.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://www.univalle.edu/">
						<img class="hovers-logos rs-grid-img" src="~/Images/UnivalleLOGO.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="~/Images/UnivalleLOGO.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://www.univalle.edu/">
						<img class="hovers-logos rs-grid-img" src="~/Images/UnivalleLOGO.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="~/Images/UnivalleLOGO.png" title="" alt="">
					</a>
				</div>
			</div>
			<div class="partner-item">
				<div class="logo-img">
					<a href="https://www.univalle.edu/">
						<img class="hovers-logos rs-grid-img" src="~/Images/UnivalleLOGO.png" title="" alt="">
						<img class="mains-logos rs-grid-img " src="~/Images/UnivalleLOGO.png" title="" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Partner End -->
@*<!-- Feature Start -->
<div class="rs-feature feature-style1 feature-modify1 pt-140 pb-140 md-pt-75 md-pb-80">
	<div class="container">
		<div class="row y-middle">
			<div class="col-lg-6 md-mb-35">
				<div class="feature-wrap">
					<div class="sec-title">
						<span class="sub-text">What it does</span>
						<h2 class="title pb-27">
							We provide useful<br>features
						</h2>
						<p class="desc">
							Males uada bibe ndum arcu vitae elementum. eget duis at tellus at urna condimentum. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc ringilla urna porttitor rhoncus ut tellus elementum.
						</p>
						<ul class="check-lists check-list2 mt-22">
							<li class="list-item">
								<span class="icon-list-icon">
									<i class="ri-checkbox-circle-line"></i>
								</span>
								<span class="list-text">Track your daily activity.</span>
							</li>
							<li class="list-item">
								<span class="icon-list-icon">
									<i class="ri-checkbox-circle-line"></i>
								</span>
								<span class="list-text">Multiply global marketing strategy</span>
							</li>
							<li class="list-item">
								<span class="icon-list-icon">
									<i class="ri-checkbox-circle-line"></i>
								</span>
								<span class="list-text">Vertual support team</span>
							</li>
						</ul>
						<ul class="feature-btn mt-32">
							<li>
								<a class="readon consultant get-orange small-normal" href="about-us.html">Get Free Consultant</a>
							</li>
							<li>
								<a class="readon consultant phone-number orange-phn" href="about-us.html">
									<span class="btn-icon">
										<i class="fa fa-phone"></i>
									</span>
									<span class="btn-text">(00) 123 456 789</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="images-wrap">
					<img src="assets/images/feature/style4/img-1.png" alt="Images">
					<div class="feature-counter count-box1 veritcal3">
						<div class="feature-counter-list">
							<div class="count-text">
								<div class="count-number">
									<span class="rs-count">3</span>
									<span class="prefix">M</span>
									<span class="prefix">+</span>
								</div>
								<span class="title">Business Using Stripe</span>
							</div>
						</div>
					</div>
					<div class="feature-shape one">
						<img class="wow fadeInUp" src="assets/images/feature/style4/shape1.png" alt="Images">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Feature End -->*@
@*<!-- Services Start -->
<div class="rs-services services-style1 bg31">
	<div class="container custom4">
		<div class="services-provides-wrap pt-125 pb-130 md-pt-75 md-pb-80">
			<div class="sec-title text-center mb-40">
				<span class="sub-text">What it provides</span>
				<h2 class="title">
					business shaped<br>
					solutions
				</h2>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xl-3 col-md-6 mb-20">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-1.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="business-services.html">Digital Marketing</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 mb-20">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-2.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="consumer-product.html">Product Promotion</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 mb-20">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-3.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="financial-services.html">Financial Services</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 mb-20">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-4.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="quality-resourcing.html">Quality Resourcing</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 xl-mb-30">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-5.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="investment-advisory.html">Investment Advisory</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 xl-mb-30">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-6.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="financial-advisory.html">Financial Advisory</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6 sm-mb-30">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-7.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="advanced-analytic.html">Advabced Analytic</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="services-item">
							<div class="services-wrap">
								<div class="services-icon">
									<img src="assets/images/services/style2/ser-8.png" alt="">
								</div>
								<div class="services-content">
									<h6 class="title"><a href="business-services.html">24/7 Rapid Support</a></h6>
									<p class="services-txt">Globally incubate standards compliant channels before scalable benefits. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>*@
<!-- Services End -->

<!-- Swiper Project Section Start -->
<div class="rs-project project-style3 pt-70 pb-140 md-pt-14 md-pb-80" style="background-color: #f6f4ff">
	<div class="container">
		<div class="sec-title pro-sec">
			<span class="sub-text">nuestros proyectos</span>
			<h2 class="title">
				Nuestros trabajos
			</h2>
		</div>
		<div class="swiper project-slide2">
			<div class="swiper-wrapper">
				<div class="project-item swiper-slide">
					<div class="project-img">
						<a href="portfolio-single.html"><img src="~/Files/IMG1/@image1" alt="Images"></a>
					</div>
				</div>
				
				<div class="project-item swiper-slide">
					<div class="project-img">
						<a href="portfolio-single.html"><img src="~/Files/IMG2/@image2" alt="Images"></a>
					</div>
				</div>
				
				<div class="project-item swiper-slide">
					<div class="project-img">
						<a href="portfolio-single.html"><img src="~/Files/IMG3/@image3" alt="Images"></a>
					</div>
				</div>
				
				<div class="project-item swiper-slide">
					<div class="project-img">
						<a href="portfolio-single.html"><img src="~/Files/IMG4/@image4" alt="Images"></a>
					</div>
				</div>
				
			</div>

			<div class="swiper-scrollbar"></div>
			<div class="swiper-navigation">
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>

			<div>
				<form method="post" enctype="multipart/form-data">
					<input type="file" name="files1" multiple required style="color: gray" />
					<input type="file" name="files2" multiple required style="color: gray" />
					<input type="file" name="files3" multiple required style="color: gray" />
					<input type="file" name="files4" multiple required style="color: gray" />
					<button type="submit" class="btn btn-dark" asp-controller="Home" asp-action="UploadToFileSystem2">Upload to File System</button>
				</form>
			</div>
			

		</div>
	</div>
</div>
<!-- Swiper Project Section End -->

<!-- Process Section Start -->
<div class="rs-process process-style1 pt-125 pb-130 md-pt-75 md-pb-80">
	<div class="container">
		<div class="sec-title text-center mb-50">
			<span class="sub-text">Proceso de Trabajo</span>
			<h2 class="title">
				Como trabajamos 
			</h2>
		</div>
		<div class="process-bg-wrap">
			<div class="row">
				<div class="col-lg-4 md-mb-40">
					<div class="process-item">
						<div class="icon-image">
							<img src="~/Images/logo2.png" alt="Images">
						</div>
						<div class="content-txt">
							<h4 class="title">Estrategias de Negocio</h4>
							<p class="desc">
								Descubre las Estrategias de Negocio Más Efectivas para Impulsar tu Éxito"

							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 md-mb-40">
					<div class="process-item">
						<div class="icon-image">
							<img src="~/Images/logo2.png" alt="Images">
						</div>
						<div class="content-txt">
							<h4 class="title">Validacion de Ideas</h4>
							<p class="desc"> Encuentra el Éxito con Decisiones Basadas en Datos </p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="process-item">
						<div class="icon-image">
							<img src="~/Images/logo2.png" alt="Images">
						</div>
						<div class="content-txt">
							<h4 class="title">Implementacion</h4>
							<p class="desc">Transforma tus Ideas en Realidad con Nuestro Apoyo </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Process Section End -->

<div class="rs-services services-style8 services-modify7 gray-bg6 pt-135 pb-140 md-pt-75 md-pb-80">
	<div class="container">
		<div class="sec-title text-center mb-60">
			<h2 class="title title12 two-blue-subnormal main-subnormal">
				<span class="watermark">Nuestros Proyectos</span>
			</h2>
		</div>
		<div class="row">
			@foreach (var item in Model.Reverse())
			{
				<div class="col-lg-4 col-md-6 mb-55">
					<div class="services-item">
						<div class="services-wrap" style="height:25rem;">
							<div class="numbering">
								@{
									counter++;
								}
								@counter
							</div>
							<div class="services-icon">
								<img src="assets/images/services/main-home/blue/ser-1.png" alt="">
							</div>
							<div class="services-content">
								<h6 class="title"><a href="">@Html.DisplayFor(modelItem=>item.Title)</a></h6>
								<p class="services-txt">
									@{
										string descripcion = item.Description;
										int longitudTotal = descripcion.Length;
										int longitudVeintePorciento = (int)(longitudTotal * 0.2);
										int ultimoEspacio = descripcion.LastIndexOf(" ", longitudVeintePorciento);

										// Si no se encuentra ningún espacio en blanco, se utiliza la longitud original.
										if (ultimoEspacio < 0)
										{
											ultimoEspacio = longitudVeintePorciento;
										}

										string primerosCaracteres = descripcion.Substring(0, ultimoEspacio);
									}
									@primerosCaracteres...
								</p>
								<div class="services-button ser-btn3">
									<a href="">
										<span class="btn-txt">Leer más</span>
										<i class="ri-arrow-right-line"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
@*<!-- Blog Section Start -->
<div class="rs-blog blog-style1 bg34 pt-125 pb-130 md-pb-80 md-pt-75 md-pb-80">
	<div class="container">
		<div class="row y-middle">
			<div class="col-lg-6">
				<div class="sec-title mb-50">
					<span class="sub-text">blog & news</span>
					<h2 class="title">
						Our Least Blog
					</h2>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="blog-button mt--30 md-mb-50 blog-btn3 text-right md-left">
					<a href="blog-details.html">
						<span class="btn-txt">View all post</span>
						<i class="ri-arrow-right-line"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 md-mb-30">
				<div class="blog-item">
					<div class="image-wrap">
						<a href="blog-single.html"><img src="assets/images/blog/style2/bl1.jpg" alt=""></a>
					</div>
					<div class="blog-content">
						<ul class="blog-meta">
							<li class="categories"><i class="ri-calendar-line"></i>March 20,2023</li>
							<li class="admin"><i class="ri-user-line"></i><a href="blog-single.html">Bcom</a></li>
						</ul>
						<h5 class="blog-title"><a href="blog-single.html">Earn good money and make you very successful creative</a></h5>
						<div class="blog-button">
							<a href="blog-single.html">
								<span class="btn-txt">Read More</span>
								<i class="ri-arrow-right-line"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="blog-horizontal">
					<div class="blog-meta mb-30">
						<div class="blog-item-wrap">
							<div class="image-wrap">
								<a href="blog-single.html"><img src="assets/images/blog/style2/bl2.jpg" alt=""></a>
							</div>
							<div class="blog-content">
								<ul class="blog-meta">
									<li class="categories"><i class="ri-calendar-line"></i>March 20,2023</li>
									<li class="admin"><i class="ri-user-line"></i><a href="blog-single.html">Bcom</a></li>
								</ul>
								<h5 class="blog-title"><a href="blog-single.html">Do it right is the ultimate winning strategy for consultant</a></h5>
								<p class="blog-desc">
									Vestibulum lectus mauris ultrices eros in. Cursus sit amet dictum sit amet.
								</p>
								<div class="blog-button">
									<a href="blog-single.html">
										<span class="btn-txt">Read More</span>
										<i class="ri-arrow-right-line"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="blog-meta">
						<div class="blog-item-wrap">
							<div class="image-wrap">
								<a href="blog-single.html"><img src="assets/images/blog/style2/bl3.jpg" alt=""></a>
							</div>
							<div class="blog-content">
								<ul class="blog-meta">
									<li class="categories"><i class="ri-calendar-line"></i>March 20,2023</li>
									<li class="admin"><i class="ri-user-line"></i><a href="blog-single.html">Bcom</a></li>
								</ul>
								<h5 class="blog-title"><a href="blog-single.html">Ultrices dui sapien eget mi. Enim nulla aliquet porttitor lacus</a></h5>
								<p class="blog-desc">
									Vestibulum lectus mauris ultrices eros in. Cursus sit amet dictum sit amet.
								</p>
								<div class="blog-button">
									<a href="blog-single.html">
										<span class="btn-txt">Read More</span>
										<i class="ri-arrow-right-line"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Blog Section End -->*@
<!-- Contact Section End -->
<div class="rs-contact contact-style2 pt-130 pb-130 bg35 md-pt-80 md-pb-80">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-lg-7">
				<div class="touch-wrap">
					<div class="sec-title sec-modify1 mb-40">
						<span class="sub-text">Ponerse en Contacto</span>
						<h2 class="title pb-25">
							contactáse con nuestro call center de UNIVALLE
						</h2>
						<p class="desc desc2">
							 Estamos encantados de ofrecerte la oportunidad de contactar con nuestro eficiente y amable equipo de atención al cliente a través de nuestro moderno centro de llamadas.
						</p>
					</div>
					<ul class="contact-button">
						<li>
							<a class="readon contact-icon" href="#">
								<span class="btn-txt">Contacta con nosotros</span>
								<i class="ri-arrow-right-line"></i>
							</a>
						</li>
						<li>
							<a class="readon consultant phone-number orange-light" href="contact-us-1.html">
								<span class="btn-icon">
									<i class="fa fa-phone"></i>
								</span>
								<span class="btn-text">(00) 123 456 789</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="">
					<div class="sec-title mb-30">
						<h5 class="title title2 white-color">
						</h5>
					</div>
					<div id="form-messages"></div>
					<form id="contact-form" method="post" action="mailer.php">
						<fieldset>
							<center>
								<img class="hovers-logos rs-grid-img" src="~/Images/callCenter.png" title="" alt="">
							</center>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Contact Section End -->
