@model Business_observatory.Models.Contact
    
@{
    ViewData["Title"] = "Nosotros";
}
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img2">
	<div class="container">
		<div class="breadcrumbs-inner breadcrumbs-style1">
			<h1 class="page-title">
				Nosotros
			</h1>
			<p class="des">Somos el Observatorio Empresarial, una empresa dedicada a la recopilación, análisis y difusión de información estratégica para el mundo empresarial. Nuestro objetivo es proporcionar a las organizaciones una visión clara y actualizada de su entorno de negocios, brindando inteligencia empresarial confiable y relevante</p>
			<ul class="breadcrumbs-area">
				<li title="Go to Bcom">
					<a class="active" href="https://www.univalle.edu/">Univalle</a>
				</li>
				<li>Revisa Nuestra pagina</li>
			</ul>
		</div>
	</div>
</div>
<!-- Breadcrumbs End -->



<!-- About Start -->
<div class="rs-about about-style1 about-modify2 pt-140 pb-140 md-pt-80 md-pb-80">
<div class="container custom8">
<div class="row y-middle">
<div class="col-lg-6">
<div class="sec-title">
<h2 class="title title11">
                            Brindamos consultoría en casos de usos y nesecidades de las empresas a nivel nacional.
</h2>
</div>
</div>
<div class="col-lg-6 pl-50 md-pl-15">
<div class="sec-title mb-20">
<p class="desc desc8">
                            En Observatorio Empresarial, nos dedicamos a proporcionar soluciones personalizadas y efectivas para resolver casos de uso de otras empresas. Nuestro equipo de expertos está compuesto por profesionales altamente capacitados en diversas disciplinas, incluyendo tecnología de la información, análisis de datos y consultoría estratégica. Trabajamos en estrecha colaboración con nuestros clientes para entender sus desafíos específicos y ofrecer soluciones a medida que impulsen su éxito empresarial.
</p>
</div>
<div class="rs-counter counter-style1 counter-modify11">
<div class="row">
<div class="col-lg-4 md-mb-20">
<div class="rs-counter-list">
<div class="count-text">
<div class="count-number">
<span class="rs-count">3</span>
<span class="prefix">M+</span>
</div>
<span class="title">Business Using Stripe</span>
</div>
</div>
</div>
<div class="col-lg-4 md-mb-20">
<div class="rs-counter-list">
<div class="count-text">
<div class="count-number">
<span class="rs-count">10</span>
<span class="prefix">+</span>
</div>
<span class="title">Business consultant</span>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="rs-counter-list">
<div class="count-text">
<div class="count-number">
<span class="rs-count">30</span>
<span class="prefix">K+</span>
</div>
<span class="title">Satisfied Customers</span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- About Start -->
<div id="rs-about" class="rs-about about-style3 gray-bg29 pt-140 pb-140 md-pt-80 md-pb-80">
<div class="container custom8">
<div class="row y-middle">
<div class="col-lg-5 md-mb-50">
<div class="about-wrapper">
<div class="about-img">
<img src="~/Images/obsLogo.png" alt="Images">

</div>
</div>
</div>
<div class="col-lg-7 pl-110 md-pl-15">
<div class="about-wrapper">
<div class="sec-title">
<h2 class="title title11">
                                Somos lideres en consultoria
</h2>
<div class="rs-tab-main tab-style1">
<div class="tab-main-wrap">
<nav class="tab-menu-wrapper">
<div class="nav nav-tabs basic left" id="nav-tab">
<button class="nav-link active" id="nav-home-1" data-bs-toggle="tab" data-bs-target="#tab1" type="button">
                                                Beneficios
</button>

 

                                            <button class="nav-link" id="nav-home-2" data-bs-toggle="tab" data-bs-target="#tab2" type="button">
                                                Mision y vision
</button>

 

                                            <button class="nav-link" id="nav-home-3" data-bs-toggle="tab" data-bs-target="#tab3" type="button">
                                                Nesecita ayuda?
</button>
</div>
</nav>
<div class="tab-content" id="nav-tabContent">
<div class="tab-pane fade" id="tab1" role="tabpanel" aria-labelledby="nav-home-1">
<div class="content-teb-area full-sec">
<div class="content-left-area">
<p>Nsotros ofrecemos:</p>
<ul class="check-arrow">
<li>Soluciones personalizadas: Ofrecemos soluciones adaptadas a las necesidades específicas de cada cliente, brindando resultados efectivos y tangibles.</li>
<li>Experiencia y conocimiento: Nuestro equipo de expertos cuenta con una amplia experiencia en resolver casos de uso empresariales en diversos sectores, lo que nos permite brindar un enfoque sólido y fundamentado.</li>
<li>Incremento de la eficiencia: Nuestras soluciones están diseñadas para optimizar procesos, automatizar tareas y mejorar la eficiencia operativa de las empresas.</li>
<li>Satisfacción del cliente: Nos enfocamos en establecer relaciones a largo plazo con nuestros clientes, brindando un servicio excepcional y garantizando su satisfacción.</li>
</ul>

</div>
</div>
</div>
<div class="tab-pane fade active show" id="tab2">
<div class="content-teb-area full-sec">
<div class="content-left-area">
<p>Nuestra misión es ayudar a las empresas a superar obstáculos y alcanzar sus objetivos a través de la aplicación innovadora de la tecnología y las mejores prácticas de la industria. Utilizamos un enfoque integral que combina la experiencia técnica con un profundo conocimiento de los diversos sectores empresariales en los que operamos. Esto nos permite abordar una amplia gama de casos de uso, desde la optimización de procesos y la automatización de tareas hasta el análisis de datos y la implementación de soluciones de vanguardia.</p>    
</div>
</div>
</div>
<div class="tab-pane fade" id="tab3">
<div class="content-teb-area full-sec">
<div class="content-left-area">

<ul class="check-arrow">
<li>Soluciones a medida: Entendemos que cada empresa tiene necesidades únicas. Estamos aquí para ayudar a identificar los desafíos específicos que enfrenta tu negocio y ofrecer soluciones personalizadas que se adapten a tus requerimientos.</li>
<li>Expertos en la materia: Contamos con un equipo de profesionales altamente capacitados y con experiencia en resolver casos de uso empresariales. Nuestros expertos están preparados para brindarte el conocimiento y la experiencia necesarios para superar obstáculos y lograr resultados exitosos.</li>
<li>Ahorra tiempo y recursos: Al confiar en nuestra experiencia, puedes ahorrar tiempo y recursos valiosos. Nos encargaremos de analizar y resolver tus casos de uso, permitiéndote centrarte en otras áreas críticas de tu negocio.</li>
<li>Confidencialidad y seguridad: Reconocemos la importancia de la confidencialidad y la seguridad de la información de tu empresa. Puedes confiar en que manejaremos tus datos de manera segura y confidencial, cumpliendo con los más altos estándares de protección de la privacidad.</li>
</ul>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- About End -->