@model IEnumerable<Business_observatory.Models.Project>

 

@{
    ViewData["Title"] = "Qr";

 

}
<!-- Main content Start -->
<div class="main-content">

 

    <!--Full width header Start-->
<div class="full-width-header">
</div>
<!--Full width header End-->
<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img3">
<div class="container">
<div class="breadcrumbs-inner breadcrumbs-style1">
<h1 class="page-title">
                    Services 04
</h1>
<p class="des"> Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs.</p>
<ul class="breadcrumbs-area">
<li title="Go to Bcom">
<a class="active" href="index.html">Home</a>
</li>
<li>Services 4</li>
</ul>
</div>
</div>
</div>
<!-- Breadcrumbs End -->
<!-- Choose Start -->
<div class="rs-choose choose-style2 pt-140 pb-140 md-pt-80 md-pb-80">
<div class="container">
<div class="row y-middle">
<div class="col-lg-6 md-mb-50">
<div class="images-wrap">
<img src="/Images/BNBqr.png" alt="ImagesQR">
</div>
</div>
<div class="col-lg-6 pl-30 md-pl-15">
<div class="sec-title mb-20">
<h2 class="title title11">
                            Metodo de pago por QR
</h2>
<p class="desc desc8 pb-15">
                            Desde su Banca Movil escane el codigo QR y realize el pago, desde la administracion se verficara el pago y se le dara acceso a todos los casos de usos disponibles y se dara la mejor solucion para su caso uso.
</p>
</div>
<!-- Services Start -->
<div class="rs-services services-style9 pt-20">
<div class="row">
<div class="col-lg-6 md-mb-30">
<div class="services-item">
<div class="services-icon">

</div>
<div class="services-content">
<h5 class="title"> Facturizacion</h5>
<div class="desc-text"> La factura le llegara a su correo.</div>
</div>
</div>
</div>

</div>
</div>
<!-- Services End -->
</div>
</div>
</div>
</div>

 

</div>

 

@*<p>

 

*@
