@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Business_observatory.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Accounting | Equation - Multipurpose Bootstrap Dashboard Template </title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link href="~/css/backend/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/backend/assets/css/plugins.css" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/css/backend/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/backend/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/backend/plugins/file-upload/file-upload-with-preview.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="~/css/backend/assets/css/support-chat.css" rel="stylesheet" type="text/css" />
    <link href="~/css/backend/plugins/maps/vector/jvector/jquery-jvectormap-2.0.3.css" rel="stylesheet" type="text/css" />
    <link href="~/css/backend/plugins/charts/chartist/chartist.css" rel="stylesheet" type="text/css">
    <link href="~/css/backend/assets/css/default-dashboard/style.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
</head>
<body class="default-sidebar">
    <!-- Tab Mobile View Header -->
    <header class="tabMobileView header navbar fixed-top d-lg-none">
        <div class="nav-toggle">
            <a href="javascript:void(0);" class="nav-link sidebarCollapse" data-placement="bottom">
                <i class="flaticon-menu-line-2"></i>
            </a>
            <a href="index.html" class=""> <img src="assets/img/logo-3.png" class="img-fluid" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item d-lg-none">
                <form class="form-inline justify-content-end" role="search">
                    <input type="text" class="form-control search-form-control mr-3">
                </form>
            </li>
        </ul>
    </header>
    <!-- Tab Mobile View Header -->
    <!--  BEGIN NAVBAR  -->
    <header class="header navbar fixed-top navbar-expand-sm">
        <a href="javascript:void(0);" class="sidebarCollapse d-none d-lg-block" data-placement="bottom"><i class="flaticon-menu-line-2"></i></a>
        <ul class="navbar-nav flex-row">
            <li class="nav-item dropdown language-dropdown ml-1  ml-lg-0">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="flagDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="assets/img/ca.svg" alt=""> <span class="d-lg-inline-block d-none"></span>
                </a>
                <div class="dropdown-menu position-absolute" aria-labelledby="flagDropdown">
                    <a class="dropdown-item" href="javascript:void(0);"><img src="assets/img/de.svg" class="flag-width" alt=""> &#xA0;German</a>
                    <a class="dropdown-item" href="javascript:void(0);"><img src="assets/img/jp.svg" class="flag-width" alt=""> &#xA0;Japanese</a>
                    <a class="dropdown-item" href="javascript:void(0);"><img src="assets/img/fr.svg" class="flag-width" alt=""> &#xA0;French</a>
                    <a class="dropdown-item" href="javascript:void(0);"><img src="assets/img/ru.svg" class="flag-width" alt=""> &#xA0;Russian</a>
                    <a class="dropdown-item" href="javascript:void(0);"><img src="assets/img/ca.svg" class="flag-width" alt=""> &#xA0;English</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav flex-row ml-lg-auto">
            @if (SignInManager.IsSignedIn(User))
            {
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
                <li class="nav-item">
                </li>
            }
            <li class="nav-item dropdown user-profile-dropdown ml-lg-0 mr-lg-2 ml-3 order-lg-0 order-1">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="flaticon-user-12"></span>
                </a>
                <div class="dropdown-menu  position-absolute" aria-labelledby="userProfileDropdown">
                    <a class="dropdown-item" href="user_profile.html">
                        <i class="mr-1 flaticon-user-6"></i> <span>Mi Perfil</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button class="btn btn-dark mb-4 mr-2" type="submit">Salir</button>
                    </form>
                </div>
            </li>
        </ul>
    </header>
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="cs-overlay"></div>

        <!--  BEGIN SIDEBAR  -->

        <div class="sidebar-wrapper sidebar-theme">
            <div id="dismiss" class="d-lg-none"><i class="flaticon-cancel-12"></i></div>
            <nav id="sidebar">
                <ul class="navbar-nav theme-brand flex-row  d-none d-lg-flex">
                    <li class="nav-item d-flex">
                        <a href="index.html" class="navbar-brand">
                            <img src="~/Images/ImagesUnivalle/MicrosoftTeams-image__5_-removebg-preview.png" class="img-fluid" alt="logo">
                        </a>
                        <p class="border-underline"></p>
                    </li>
                    <li class="nav-item theme-text">
                        <a href="index.html" class="nav-link">ADMIN</a>
                    </li>
                </ul>
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu">
                        <a href="#dashboard" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                            <div class="">
                                <i class="flaticon-home-fill"></i>
                                <span>Menu</span>
                            </div>

                            <div>
                                <span class="badge badge-pill badge-secondary mr-2">2</span>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled show" id="dashboard" data-parent="#accordionExample">
                            <li class="active">
                                <a asp-action="Index" asp-controller="Proyectoes"> <i class="flaticon-notes-5"></i> Proyecto </a>
                            </li>
                            <li class="active">
                                <a asp-action="Index" asp-controller="Archivoes"><i class="flaticon-stack"></i> Archivos</a>
                            </li>
                        </ul>
                    </li>
                    <!--Gestion de Proyectos-->
                    <li class="menu">
                        <a href="#ecommerce" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <i class="flaticon-cart-2"></i>
                                <span>Gestion de Proyectos</span>
                            </div>
                            <div>
                                <i class="flaticon-right-arrow"></i>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="ecommerce" data-parent="#accordionExample">
                            <li>
                                <a asp-action="Create" asp-controller="Proyectoes"> Crear Proyecto </a>
                            </li>
                            <li>
                                <a href="ecommerce_reviews.html"> Asingar Encargado </a>
                            </li>
                            <li>
                                <a href="#product-details" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" data-parent="#ecommerce"> Categorias<i class="flaticon-right-arrow"></i> </a>
                                <ul class="collapse list-unstyled sub-submenu" id="product-details">
                                    <li>
                                        <a href="ecommerce_product_details_1.html">Categorias </a>
                                    </li>
                                    <li>
                                        <a href="ecommerce_product_details_2.html"> Crear Categoria </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--Gestion de Contactos-->
                    <li class="menu">
                        <a href="#ui-features" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <i class="flaticon-mail-30"></i>
                                <span>Gestion de Contactos</span>
                            </div>
                            <div>
                                <i class="flaticon-right-arrow"></i>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="ui-features" data-parent="#accordionExample">
                            <li>
                                <a asp-action="Index" asp-controller="Contactoes"> Contactos</a>
                            </li>

                        </ul>
                    </li>
                    <!--Gestion de Usuarios-->
                    <li class="menu">
                        <a href="#components" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <i class="flaticon-user-11"></i>
                                <span>Gestion de Usuarios</span>
                            </div>
                            <div>
                                <i class="flaticon-right-arrow"></i>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="components" data-parent="#accordionExample">
                            <li>
                                <a asp-action="Index" asp-controller="User"> Administradores </a>
                            </li>
                            <li>
                                <a asp-action="IndexEncargados" asp-controller="User"> Encargados </a>
                            </li>
                            <li>
                                <a asp-action="IndexUsuariosComunes" asp-controller="User"> Usuarios Comunes </a>
                            </li>
                            <li>
                                <a asp-action="CreateUser" asp-controller="User"> Crear Usuario </a>
                            </li>
                        </ul>
                    </li>
                    <!--Configuraciones-->
                    <li class="menu">
                        <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <i class="flaticon-settings-1"></i>
                                <span>Configuraciones</span>
                            </div>
                            <div>
                                <i class="flaticon-right-arrow"></i>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="forms" data-parent="#accordionExample">
                            <li>
                                <a href="#forms-bootstrap" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> Roles <i class="flaticon-right-arrow"></i> </a>
                                <ul class="collapse list-unstyled sub-submenu" id="forms-bootstrap" data-parent="#forms">
                                    <li>
                                        <a asp-action="IndexRoles" asp-controller="User">Roles</a>
                                    </li>
                                    <li>
                                        <a asp-action="CreateRole" asp-controller="User"> Crear Rol </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#forms-bootstrap" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> Usuarios <i class="flaticon-right-arrow"></i> </a>
                                <ul class="collapse list-unstyled sub-submenu" id="forms-bootstrap" data-parent="#forms">
                                    <li>
                                        <a asp-action="IndexUsers" asp-controller="User">Usuarios</a>
                                    </li>

                                    <li>
                                        <a asp-action="CreateUser" asp-controller="User"> Crear Usuario </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>

        </div>

        <!--  END SIDEBAR  -->
        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <!--  END CONTENT PART  -->
    </div>


    <!--  END FOOTER  -->
    <!--  BEGIN CONTROL SIDEBAR  -->
    <!--  END CONTROL SIDEBAR  -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script type="text/javascript" src="~/css/backend/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/css/backend/bootstrap/js/popper.min.js"></script>
    <script type="text/javascript" src="~/css/backend/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/css/backend/plugins/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/css/backend/assets/js/app.js"></script>

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script type="text/javascript" src="~/css/backend/assets/js/custom.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/css/backend/plugins/charts/chartist/chartist.js"></script>
    <script src="~/css/backend/plugins/maps/vector/jvector/jquery-jvectormap-2.0.3.min.js"></script>
    <script src="~/css/backend/plugins/maps/vector/jvector/worldmap_script/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/css/backend/plugins/calendar/pignose/moment.latest.min.js"></script>
    <script src="~/css/backend/plugins/calendar/pignose/pignose.calendar.js"></script>
    <script src="~/css/backend/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/css/backend/assets/js/default-dashboard/default-custom.js"></script>
    <script src="~/css/backend/assets/js/support-chat.js"></script>
    <!-- END PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script>
        //First upload
        var firstUpload = new FileUploadWithPreview('myFirstImage')
        //Second upload
        var secondUpload = new FileUploadWithPreview('mySecondImage')
    </script>
    <script src="~/css/backend/plugins/file-upload/file-upload-with-preview.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>